body{
    background-image: url('bg_image.jpeg');
    font-family: Noto Sans, system-ui, sans-serif; 
    height: 100vh; 
    background-size:auto; 
    background-repeat:repeat; 
    margin: 0px;
    }
#main{
    border: solid; 
    width: 350px; 
    border-radius: 18px; 
    padding: 20px; 
    position: absolute; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    }
#nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(125, 125, 125, 0.5);
    padding: 0.5rem;
}
#nav p{
    border-radius: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(230, 230, 230, 0.543);
    font-weight:600;
}
h1{
    margin: 4px;
}
p{
    margin:0px;
}
#mainclose{
    cursor:pointer;
    text-align: right;
    border-radius: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(230, 230, 230, 0.543);
    font-weight:450;

}
#mainopen{
    cursor: pointer;
}